@import "~@fortawesome/fontawesome-free";

@font-face {
  font-family: Raleway;
  src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap') format("truetype");
}

* {
  font-family: $font-family-sans-serif;
}

.text-underline {
  text-decoration: underline black;
}

.whitespace-nowrap {
  white-space: nowrap;
}
